h1 {
  font-size: 30px;

  text-align: center;

  color: #617FB7;


}

p {
  font-size: 20px;

  text-align: left;

  font-family: Helvetica, sans-serif;

  font-weight: bold;
}

body {

}

h2 {
    font-size: 30px;

    text-align: start;
}